{% load static %}
{% load i18n %}
 

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans 'Online Course Platform'%}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav-brand">
                <a href="{% url 'home' %}">{% trans "OnlineCourse" %}</a>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'home' %}">{% trans 'Home'%}</a></li>
                <li><a href="{% url 'courses' %}">{% trans 'Courses'%}</a></li>
                <li><a href="{% url 'teachers' %}">{% trans 'Teachers'%}</a></li>
                <li><a href="{% url 'users:register' %}">{% trans 'Royxatdan otish'%}</a></li>

                {% comment %} <li><a href="{% url 'contact' %}">{% trans 'Contact'%}</a></li> {% endcomment %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">{% trans 'Logout'%}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="btn-login">{% trans 'Login'%}</a></li>
                {% endif %}
            </ul>
            <li>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <select name="language" onchange="this.form.submit()">
                        <option value="uz" {% if LANGUAGE_CODE == 'uz' %}selected{% endif %}>O‘zbekcha</option>
                        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                        <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>Русский</option>
                    </select>
                </form>

            <li/>
        </div>
    </nav>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; {% trans 'Online Course Platform. All rights reserved.'%} </p>
        </div>
    </footer>
</body>
</html> 